@model IEnumerable<Dziennik.Application.Teacher.TeacherDto>
@{
    ViewData["Title"] = "Teachers";
}
<h2>Teachers</h2>

@* <p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
 *@
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* <script src="~/js/Subject/ConfirmDeleteSubject.js"></script>*@
}