@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">
        Welcome
    </h1>
    <h2 class="display-5">
        to the school management system
    </h2>
    <img src="src/School2.jpg" alt="School" />
</div>
